/*!
    This file is part of Kitsu Web Scrobbler.

    Kitsu Web Scrobbler is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Kitsu Web Scrobbler is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Kitsu Web Scrobbler.  If not, see <http://www.gnu.org/licenses/>.
*/

.combo-gate,.nsfw-gate,.spoiler-gate {
    padding: 0 20px
}

.combo-gate a,.nsfw-gate a,.spoiler-gate a {
    background: #fafafa;
    border: 1px solid #eee;
    border-radius: 3px;
    margin-bottom: 15px;
    text-align: center;
    padding: 20px;
    display: block;
    cursor: pointer;
    color: #9b9b9b;
    transition: .3s background ease-in-out;
    position: relative;
    font-weight: 700;
    overflow: hidden
}

.combo-gate a small,.nsfw-gate a small,.spoiler-gate a small {
    display: block
}

.combo-gate a::after,.nsfw-gate a::after,.spoiler-gate a::after {
    content: "(ಠ_ಠ)";
    position: absolute;
    right: 15px;
    font-size: 42px;
    top: -4px;
    opacity: .3;
    font-family: Arial
}

.combo-gate a .gate--hover,.nsfw-gate a .gate--hover,.spoiler-gate a .gate--hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translate3d(0,-100%,0);
    transition: .3s all cubic-bezier(.5,2,.5,.75)
}

@media (max-width: 768px) {
    .combo-gate a,.nsfw-gate a,.spoiler-gate a {
        text-align:left
    }

    .combo-gate a .gate--hover,.nsfw-gate a .gate--hover,.spoiler-gate a .gate--hover {
        align-items: initial;
        padding-left: 20px
    }

    .combo-gate a::after,.nsfw-gate a::after,.spoiler-gate a::after {
        right: -45px
    }
}

.combo-gate a:hover,.nsfw-gate a:hover,.spoiler-gate a:hover {
    background: #ffdcd8;
    border: 1px dotted #e74c3c;
    color: #e74c3c
}

.combo-gate a:hover::after,.nsfw-gate a:hover::after,.spoiler-gate a:hover::after {
    content: "(¬‿¬ )"
}

.combo-gate a:hover .gate--label,.nsfw-gate a:hover .gate--label,.spoiler-gate a:hover .gate--label {
    transform: translateY(60px);
    opacity: 0
}

.combo-gate a:hover .gate--hover,.nsfw-gate a:hover .gate--hover,.spoiler-gate a:hover .gate--hover {
    transform: translate3d(0,0,0)
}

.spoiler-gate a::after {
    content: "(⊙_⊙)"
}

.spoiler-gate a:hover::after {
    content: "(◕‿◕)"
}

.combo-gate a::before {
    content: "(⊙_⊙)";
    position: absolute;
    left: 15px;
    font-size: 42px;
    top: -4px;
    opacity: .3;
    font-family: Arial
}

.combo-gate a:hover::before {
    content: "(◕‿◕)"
}
