/*!
    This file is part of Kitsu Web Scrobbler.

    Kitsu Web Scrobbler is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Kitsu Web Scrobbler is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Kitsu Web Scrobbler.  If not, see <http://www.gnu.org/licenses/>.
*/

body {
    width: 600px;
    margin: 0px;
    font-family: Asap, Helvetica, sans-serif;
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    height: auto;
}

.wip-warn > img.img {
    height: 4em;
    width: 4em;
    display: block;
}

.wip-warn > p.center {
    text-align: center;
    margin: 0;
}

.wip-warn {
    border-left: 0.5em solid orange;
    border-top: 1px solid orange;
    border-right: 1px solid orange;
    border-bottom: 1px solid orange;
    background-color: #ebcead;
    margin: 1em;
    padding: 0.5em 1em;
}

.header {
    background-color: #402F3F;
    padding-top: 1em;
    padding-bottom: 1em;
}

.right {
    align-content: right;
    display: inline-block;
    position: absolute;
    right: 1em;
}

.right > i {
    font-size: 25px;
    color: white;
    cursor: pointer;
}

.content {
    margin: 8px;
}

.synopsis {
    margin-top: 1em;
}

/*! CSS Used from: https://kitsu.io/assets/light-2678deeda5754314553fd9b29c12f311.css */
a {
    background-color: transparent;
}

a:active,
a:hover {
    outline-width: 0;
}

@media print {
    *,
    ::after,
    ::before,
    ::first-letter,
    ::first-line {
        text-shadow: none !important;
        box-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
}

*,
::after,
::before {
    box-sizing: border-box;
}

a:focus,
a:hover {
    color: #014c8c;
    text-decoration: underline;
}

a:focus {
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px;
}

a {
    touch-action: manipulation;
}

.button {
    white-space: nowrap;
}

.button {
    display: block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    /*vertical-align: middle;*/
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    margin: auto;
    width: 50%;
}

.button:active:focus,
.button:focus {
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px;
}

.button:focus,
.button:hover {
    text-decoration: none;
}

.button:active {
    background-image: none;
    outline: 0;
}

.button:disabled {
    cursor: not-allowed;
    opacity: .65;
}

a:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
}

:focus {
    outline-color: transparent;
    outline-style: none;
}

[data-ember-action]:not(:disabled) {
    cursor: pointer;
}

a {
    color: #f75239;
    font-family: Asap, sans-serif;
}

a:hover,
a:visited:hover {
    color: #f3290a;
}

.scrnow-placeholder .button {
    font-size: 12px;
}

.scrnow-placeholder .button:hover {
    color: #FFF;
}

.scrnow-panel a {
    font-size: 12px;
}

.button {
    font-family: Asap, sans-serif;
}

.button {
    letter-spacing: .05em;
    transition: all .2s ease;
}

.button--primary {
    background-color: #16a085;
    color: #FFF;
    padding: 10px 60px;
    box-shadow: 0 0 0 transparent;
}

.button--primary:hover {
    background: #19b698;
    color: #FFF !important;
}

.button--primary:disabled {
    background: #B4B4B4;
    opacity: 1;
}
